.framed {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    border: 1px solid var(--border-color);
    max-width: 800px;
}

.index-content {
	text-align: left;
}

.timeline-item {
	margin-bottom: 10px; !important
}
