{{ define "main" }}

<main aria-role="main"> 


  <div class="content"> 
    <div class="index-content framed">
      <h1 id="hello-there">Hello, I am Connor</h1>
      

      <div class="info-section">
        <p>In my education, I have achieved:</p>
        <ul>
          <li>10 GCSEs, A* to B, including Maths, Science, English;</li>
          <li>1 AS-Level in Politics;</li>
          <li>4 A-Levels, A to C, in Maths and Mechanics, Physics, Art and Design and General Studies;</li>
          <li>Certificate of Higher Education in Computer Visualisation and Animation from Bournemouth University</li>
          <li>2:1 BSc in The Built Environment (Architecture and Planning) from the University of the West of England</li>
          <li>Level 2 Accredited Trainer for McNeel Rhino3D software</li>
        </ul>
        <p>My skills include:</p>
        <ul>
          <li>I am proficient with Adobe Photoshop, Illustrator and InDesign, Autodesk AutoCAD, Revit and Navisworks. Microsoft Office, Open Office, Google Apps for Business, Prezi and most other standard software.</li>
          <li>HTML5, CSS3, JQuery, JavaScript (NodeJS, ReactJS, Three.JS, etc), Material Design</li>
        </ul>
      </div>
      
      <br />
      <div align="center">
          <a class="read-more button" href="/timeline">View my work experience → </a>
        </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
