@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700);

/*CSS FOR PAGE*/

body { 
  background: linear-gradient(to bottom right, #F3F3F1, #bccdd0) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #464646;
  font-family: "Josefin Sans", Arial, Helvetica, sans serif;
  font-size: 68.5%;
  padding: 40px 0;
}
h1 {
  color: #78a8b2;
  font-size: 4.8em;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  font-size: 3.6em;
  font-weight: 400;
  text-transform: uppercase;
}
p {
  margin: 0 0 10px 8px;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6em;
}
a:hover,
a:link,
a:visited {
  color: #78a8b2;
  text-decoration: none;
}

/*CSS FOR CLASSES*/

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  *zoom: 1;
}
.clear {
  clear: both;
  line-height: 0;
  font-size: 0;
}
.step1 {
  color: #CECECE;
}
.step2 {
  color: #8A8A8A;
}
.step3 {
  color: #464646;
}
.lead {
  color: #464646;
  font-size: 2em;
  margin-bottom: 40px;
}
.info {
  display: inline-block;
}
.links {
  cursor: pointer;
  float: right;
  margin-right: 0;
  padding: 10px 15px;
  white-space: nowrap;
}
.timeline-container {
  border-left: 4px solid #78a8b2;
  margin: 20px auto;
  width: 90%;
}
.timeline-container-tick {
  background: #78a8b2;
  content: "";
  display: block;
  height: 4px;
  left: -8px;
  width: 14px;
  position: relative;
}
.timeline-container::before {
  background: #78a8b2;
  content: "";
  display: block;
  height: 4px;
  left: -8px;
  width: 14px;
  position: relative;
  top: -4px;
}
.timeline-container::after {
  background: #78a8b2;
  content: "";
  display: block;
  height: 4px;
  left: -8px;
  width: 14px;
  position: relative;
  top: 4px;
}
.timeline-toggle {
  background: #78a8b2;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-right: 0;
  padding: 10px 15px;
  text-transform: uppercase;
  white-space: nowrap;
}
.timeline-toggle:hover {
  background: #3E8A9A;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.timeline-toggle:focus {
  outline: none;
}
.timeline-wrapper {
  clear: left;
  float: left;
  margin: 0 0 12px;
  width: 100%;
}
.timeline-wrapper .timeline-time::before {
  border-top: 4px solid #78a8b2;
  content: "";
  display: inline-block;
  height: 4px;
  margin-right: 0px;
  vertical-align: middle;
  width: 24px;
}
.timeline-wrapper .timeline-time {
  cursor: pointer;
  font-size: 2.8em;
  font-weight: 400;
  margin: 0 0 30px 0;
  padding: 0;
}
.timeline-wrapper .timeline-time span {
  background: #78a8b2;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  letter-spacing: 0;
  padding: 10px 10px 5px 10px;
  text-align: center;
}
.timeline-wrapper .timeline-time span:hover {
  background: #3E8A9A;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.timeline-series {
  clear: left;
  float: left;
  margin: 0 12px 0 0;
  padding: 4px 4px 4px 0;
  position: relative;
  width: 85%;
}
.timeline-series dt::before {
  border-top: 3px solid #78a8b2;
  content: "";
  display: inline-block;
  height: 3px;
  margin-right: 10px;
  vertical-align: middle;
  width: 10px;
}
.timeline-series dt {
  clear: left;
  font-size: 2em;
  line-height: 1.2em;
  margin: 0 0 12px;
  text-transform: uppercase;
  white-space: nowrap;
}
.timeline-series dt a {
  color: #8A8A8A;
  cursor: pointer;
}
.timeline-series dt a .closed {
  color: #8A8A8A;
  font-size: 1em;
  margin-left: 0;
}
.timeline-series dt a .open {
  color: #464646;
}
.timeline-series dt a:hover {
  color: #464646;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.timeline-series dd {
  padding-left: 24px;
  width: 100%;
}
.timeline-series dd h3 {
  color: #FFFFFF;
  clear: both;
  float: left;
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
}
.tick {
  background: #78a8b2;
  clear: both;
  display: block;
  height: 2px;
  left: 0;
  width: 4px;
  position: relative;
}
.tick-before {
  top: -6px;
}
.tick-after {
  top: -4px;
}
.timeline-event-content {
  display: none;
  margin-bottom: 40px;
}
.timeline-event-content p {
  color: #8A8A8A;
  clear: left;
  float: left;
  font-size: 2em;
  font-weight: 105;
  line-height: 1.2em;
  margin: 6px 0 10px;
  width: 100%;
}
.timeline-event-content h4 {
  clear: left;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}
.timeline-event-content blockquote {
  border-left: 2px solid #8A8A8A;
  clear: left;
  float: left;
  line-height: 1.2em;
  margin-left: 0;
  padding: 0 30px;
  width: 80%;
}
.timeline-event-content blockquote .attribution {
  font-size: 0.7em;
  text-align: right;
}
.timeline-event-content .media {
  float: right;
  padding: 0 0 12px;
  width: 30%;
}
.timeline-event-content .media img {
  border: 1px solid #78a8b2;
  border-radius: 0px;
  height: 200px;
  margin: 0;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.timeline-event-content .media img .expanded {
  max-width: 2000px;
}
.timeline-event-content .media p {
  clear: both;
  font-size: 1.4em;
  margin: 15px 0;
}
.timeline-event-content .media p a {
  text-transform: lowercase;
}
